venv/
Test/.ipynb_checkpoints/
Development/.ipynb_checkpoints
lib/nn_train/.ipynb_checkpoints
jupyter_notebooks/nn_train/.ipynb_checkpoints
jupyter_notebooks/Data/.ipynb_checkpoints
By_dates
Links.txt
New.txt
Интересно.txt
Data/databases/
__pycache__/
Data/069/
Data/071/
Data/073/
Data/075/
Data/077/
Data/079/
Data/081/
Data/092/
Participant 1_Aleksashina_Analysis 1_video_20190607_114857_detailed.csv
Participant 1_Керов Андрей_Analysis 10_video_20190605_105552_detailed.csv
Participant 1_Керов Андрей_Analysis 2_video_20190605_104736_detailed.csv
Participant 1_Керов Андрей_Analysis 3_video_20190605_104736_detailed.csv
Participant 1_Керов Андрей_Analysis 4_video_20190605_104737_detailed.csv
Participant 1_Керов Андрей_Analysis 5_video_20190605_104737_detailed.csv
Participant 1_Керов Андрей_Analysis 6_video_20190605_105549_detailed.csv
Participant 1_Керов Андрей_Analysis 7_video_20190605_105550_detailed.csv
Participant 1_Керов Андрей_Analysis 8_video_20190605_105550_detailed.csv
Participant 1_Керов Андрей_Analysis 9_video_20190605_105551_detailed.csv
Aleksashina_Керов_Андрей.db
Data/.ipynb_checkpoints/
nn_train/.ipynb_checkpoints/
